@page "/"
@using BloomPrototype.GameTypes
@using BloomPrototype.GameTypes.Soils
@using BloomPrototype.Services;
@inject ISoilFactory SoilFactory


<table>
	@for (int x = 0; x < Map.ViewSize; x++)
	{
		<tr>
			@for (int y = 0; y < Map.ViewSize; y++)
			{
				<td>
					<SoilDisplay Soil="WorldMap.GetSoil(x, y)" />
				</td>
			}
		</tr>
	}
</table>

<br/>

<button type="button" @onclick="() => WorldMap.SmoothMap(SoilFactory)" class="btn btn-outline-primary">Smooth Map</button>

@code {
	private Map WorldMap;

	private Soil[,] MapView;

	private int startX = 0;
	private int startY = 0;

	protected override void OnParametersSet()
	{
		WorldMap = new Map(SoilFactory);
		MapView = WorldMap.GetView(startX, startY);

		base.OnInitialized();
	}
}