@page "/"
@using BloomPrototype.GameTypes
@using BloomPrototype.GameTypes.Soils
@using BloomPrototype.Services;
@inject MapFactory MapFactory
@inject ISoilFactory SoilFactory


<table>
	@for (int x = 0; x < Map.ViewSize; x++)
	{
		<tr>
			@for (int y = 0; y < Map.ViewSize; y++)
			{
				<td>
					<SoilDisplay Soil="WorldMap.GetSoil(x, y)" />
				</td>
			}
		</tr>
	}
</table>

<br/>

<button type="button" @onclick="OnSmoothButtonClick" class="btn btn-outline-primary">Smooth Map</button>
<p>Days: @Days</p>

@code {
	private Map WorldMap;

	private Soil[,] MapView;

    private int Days = 0;

	private int startX = 0;
	private int startY = 0;
	private int WorldSize = 100;

	protected override void OnParametersSet()
	{
		WorldMap = MapFactory.GenerateMap(100);
		MapView = WorldMap.GetView(startX, startY);

		base.OnInitialized();
	}

    private void OnSmoothButtonClick()
    {
        Days++;
        WorldMap.SmoothMap(SoilFactory);
    }
}