@page "/"
@using BloomPrototype.GameTypes
@using BloomPrototype.GameTypes.Soils
@using BloomPrototype.Services;
@inject MapFactory MapFactory


<table @onkeydown="e => KeyPress(e)" tabindex="0">
	@for (int y = 0; y < Map.ViewSize; y++)
	{
		<tr>
			@for (int x = 0; x < Map.ViewSize; x++)
			{
				<td>
					<SoilDisplay Soil="MapView[x, y]" PlayerLocation=@Player.Location />
				</td>
			}
		</tr>
	}
</table>

<br/>

<p>Days: @Days</p>
<br/>
<p>Move: Arrow keys</p>
<p>Complete Day: Enter</p>
<p>Fertilize: J</p>
<p>Water: K</p>
<p>Tighten: L</p>

@code {
	private Map WorldMap;

	private Soil[,] MapView;

	private Player Player;

	private int Days = 0;

	private int startX = 0;
	private int startY = 0;

	protected override void OnParametersSet()
	{
		WorldMap = MapFactory.GenerateMap();
		MapView = WorldMap.GetView(startX, startY);
		Player = new Player(WorldMap);

		base.OnInitialized();
	}

	private void KeyPress(KeyboardEventArgs e)
	{
		// This method simulates a frame refresh
		switch (e.Code)
		{
			case "Enter":
				Days++;
				MapFactory.SmoothMap(WorldMap);
				break;
			case "ArrowUp":
				Player.MoveUp();
				break;
			case "ArrowDown":
				Player.MoveDown();
				break;
			case "ArrowRight":
				Player.MoveRight();
				break;
			case "ArrowLeft":
				Player.MoveLeft();
				break;
			case "KeyJ":
				Player.Location.Fertilize(1);
				break;
			case "KeyK":
				Player.Location.Water(1);
				break;
			case "KeyL":
				Player.Location.Tighten(1);
				break;
		}

		MapView = WorldMap.GetViewWithTargetSoil(Player.Location);
	}
}