@page "/"
@using BloomPrototype.GameTypes
@using BloomPrototype.GameTypes.Soils
@using BloomPrototype.Services;
@inject MapFactory MapFactory


<table @onkeydown="e => KeyPress(e)" tabindex="0">
	@for (int y = 0; y < Map.ViewSize; y++)
	{
		<tr>
			@for (int x = 0; x < Map.ViewSize; x++)
			{
				<td>
					<SoilDisplay Soil="WorldMap.GetSoil(x, y)" PlayerLocation=@Player.Location />
				</td>
			}
		</tr>
	}
</table>

<br/>

<button type="button" @onclick="OnSmoothButtonClick" class="btn btn-outline-primary">Smooth Map</button>
<p>Days: @Days</p>

@code {
	private Map WorldMap;

	private Soil[,] MapView;

	private Player Player;

	private int Days = 0;

	private int startX = 0;
	private int startY = 0;

	protected override void OnParametersSet()
	{
		WorldMap = MapFactory.GenerateMap();
		MapView = WorldMap.GetView(startX, startY);
		Player = new Player(WorldMap);

		base.OnInitialized();
	}

	private void KeyPress(KeyboardEventArgs e)
	{
		switch (e.Code)
		{
			case "Enter":
				OnSmoothButtonClick();
				break;
			case "ArrowUp":
				Player.MoveUp();
				break;
			case "ArrowDown":
				Player.MoveDown();
				break;
			case "ArrowRight":
				Player.MoveRight();
				break;
			case "ArrowLeft":
				Player.MoveLeft();
				break;
		}
	}

    private void OnSmoothButtonClick()
    {
        Days++;
        MapFactory.SmoothMap(WorldMap);
    }
}